.container {
    display: grid;
    grid-template-columns: repeat(16, 6%);
    grid-template-rows: repeat(16, 6%);
    width: 80vw;
    height: 80vh;

}

.div {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;
    
}

.div:hover {
    background-color: orange;
  }